*.vcxproj.user
.vs/
x64/
x86/
swigwin-3.0.8/
obj/
bin/
__pycache__/
build.ninja
.dropbox
desktop.ini
*.aux
*.bbl
*.blg
paper/A Sun for the Moon.log
paper/A Sun for the Moon.out
paper/references/texput.log
*.synctex.gz
/*.csv
/*.png
*.VC.db
*.VC.VC.opendb
vendor/nonius/nonius-1.2.0-beta.1.zip
