[submodule "vendor/sol"]
	path = vendor/sol
	url = https://github.com/ThePhD/sol2.git
[submodule "vendor/lua"]
	path = vendor/lua
	url = https://github.com/lua/lua.git
[submodule "vendor/lua-intf"]
	path = vendor/lua-intf
	url = https://github.com/SteveKChiu/lua-intf.git
[submodule "vendor/lua-api-pp"]
	path = vendor/lua-api-pp
url=https://github.com/ThePhD/lua-api-pp.git
[submodule "vendor/luabind"]
	path = vendor/luabind
	url = https://github.com/Wohlhabend-Networks/luabind-deboostified.git
[submodule "vendor/luawrapper"]
	path = vendor/luawrapper
	url=https://github.com/ahupowerdns/luawrapper.git
[submodule "vendor/Catch"]
	path = vendor/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "vendor/kaguya"]
	path = vendor/kaguya
	url=https://github.com/satoren/kaguya.git
[submodule "vendor/nonius.deps"]
	path = vendor/nonius.deps
	url = https://github.com/ThePhD/nonius.deps.git
[submodule "vendor/oolua"]
	path = vendor/oolua
	url = https://github.com/elite-lang/oolua
[submodule "vendor/luacppinterface"]
	path = vendor/luacppinterface
	url = https://github.com/ThePhD/luacppinterface.git
[submodule "vendor/slb"]
	path = vendor/slb
	url = https://github.com/ThePhD/slb.git
[submodule "vendor/swig"]
	path = vendor/swig
	url = https://github.com/swig/swig.git
[submodule "vendor/selene"]
	path = vendor/selene
	url = https://github.com/ThePhD/Selene.git
[submodule "vendor/luwra"]
	path = vendor/luwra
url=https://github.com/vapourismo/luwra.git
[submodule "vendor/old-sol"]
	path = vendor/old-sol
url=https://github.com/ThePhD/sol.git
[submodule "vendor/lualite"]
	path = vendor/lualite
	url = https://github.com/user1095108/lualite.git